<!DOCTYPE html>

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% load django_bootstrap5 %}
{% bootstrap_javascript %}

{% bootstrap_css %}


<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% translate 'Task manager Hexlet' %}</title>
</head>

<body class="d-flex flex-column min-vh-100">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'home' %}">{% translate 'Task manager' %}</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggleExternalContent">

          {% if request.user.is_authenticated %}

          {% include 'task_manager/menu_user_login.html' %}

          {% else %}

          {% include 'task_manager/menu_user_logout.html' %}

          {% endif %}

      </div>
    </nav>

    {% block content %}

    {% endblock %}

    <footer>
      <div class="container my-5 pt-4 border-top">
        <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
      </div>
    </footer>

</body>

</html>