{% extends 'task_manager/base.html' %}
{% load i18n %}

{% load django_bootstrap5 %}
{% bootstrap_javascript %}

{% block content %}
<div class="container wrapper flex-grow-1">
<h1 class="my-4">{% translate 'Status change' %}</h1>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        {% for field in form %}
            <label class="form-label" for="id_{{ field.name }}">{{ field.label }}</label>
            {{ field }}
        {% endfor %}
    </div>
    <input class="btn btn-primary" type="submit" value="{% translate 'Change' %}">
</form>
</div>
{% endblock content %}
