{% extends 'task_manager/base.html' %}
{% load i18n %}

{% load django_bootstrap5 %}
{% bootstrap_javascript %}

{% bootstrap_css %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container wrapper flex-grow-1">
  <h1 class="my-4">{{ title }}</h1>
<form method="post">
  {% csrf_token %}

  {% for field in form %}
    <div class="mb-3">

      <label class="form-label">
        {{ field.label }}
      </label>

      {{ field }}

      {% if field.errors %}
<!--      <div class="invalid-feedback">-->
        {{ field.errors }}
<!--      </div>-->
      {% endif %}


    {% if field.help_text %}
      <div class="form-text">
        {% if field.name == 'password1' %}
          <ul>
            <li>
              {{ field.help_text }}
            </li>
          </ul>
        {% else %}
          {{ field.help_text }}
        {% endif %}
      </div>
    {% endif %}

    </div>
  {% endfor %}

  <input class="btn btn-primary" type="submit" value="{% translate 'Register' %}">
</form>
</div>

{% endblock %}