{% extends 'manager/base.html' %}
{% load i18n %}

{% load django_bootstrap5 %}


{% block content %}

<div class="container wrapper flex-grow-1">
  <h1 class="my-4">{% translate 'Registration' %}</h1>
<form method="post">
  {% csrf_token %}

  {% for field in form %}
    <div class="mb-3">
      <label class="form-label">
        {{ field.label }}
      </label>
      {{ field }}
      <div class="form-text">
        {% if field.name == 'password' %}
          <ul>
            <li>{{ field.help_text }}</li>
          </ul>
        {% else %}
          {{ field.help_text }}
        {% endif %}
      </div>
    </div>
  {% endfor %}


  <input class="btn btn-primary" type="submit" value="Зарегистрировать">
</form>
</div>

{% endblock %}