{% extends 'task_manager/base.html' %}
{% load i18n %}

{% load django_bootstrap5 %}
{% bootstrap_javascript %}
{% block content %}
<div class="container wrapper flex-grow-1">

  <h1 class="my-4">{% translate 'Entrance' %}</h1>

<form method="post">
  
  {% csrf_token %}

  {% if messages %}

    <ul class="list-unstyled text-danger">

      {% for message in messages %}
        <li>
          {{ message }}
        </li>
      {% endfor %}

    </ul>
  {% endif %}

  {% for field in form %}
    <div class="mb-3">
      <label class="form-label">
        {{ field.label }}
      </label>
      {{ field }}
    </div>
  {% endfor %}

<input class="btn btn-primary" type="submit" value="Войти">

</form>

</div>
{% endblock %}
