{% extends 'task_manager/base.html' %}
{% load i18n %}

{% load django_bootstrap5 %}
{% bootstrap_javascript %}

{% block content %}
<div class="container wrapper flex-grow-1">
  {% if messages %}
  {% for msg in messages %}
    <div class="alert {{ msg.tags }} alert-dismissible fade show" role="alert">
      {{ msg }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
  {% endif %}

    <h1 class="my-4">{% translate 'Users' %}</h1>
    <table class="table table-striped">
    <thead>
        <tr>
          <th>{% translate 'ID' %}</th>
          <th>{% translate 'Nickname' %}</th>
          <th>{% translate 'Full name' %}</th>
          <th>{% translate 'Created at' %}</th>
          <th></th>
        </tr>
    </thead>

    <tbody>
    {% if users_list %}
        {% for user in users_list %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.date_joined }}</td>
                <td>

                    <a href="{% url 'update' user.id %}">{% translate 'Update' %}</a>
                    <br>
                    <a href="{% url 'delete' user.id %}">{% translate 'Delete' %}</a>

                </td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
    </table>
</div>
{% endblock %}